body {
  font-family: "Lato", sans-serif;
  min-height: max-content;
}

.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.main {
  margin-left: 160px; 
  padding: 0px 10px;
  text-align: center;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}