* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  .row,
  .row > .column {
    padding: 8px;
  }
  .column {
    float: left;
    width: 33.33%;
    display: none; 
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .content {
    background-color: white;
    padding: 10px;
  }
  .show {
    display: block;
  }
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  @media only screen and (max-width: 600px){
    body{
        font-size: 10px;
    }
}