*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2)
}
nav ul{
    display: flex;
    list-style: none;
}
#logo{
    border-radius: 50%;
    width: 35px;
}
nav ul li a{
 text-decoration: none;
 font-size: 18px;
 padding-right: 18px;
 font-family: Arial, Helvetica, sans-serif;
 color: black;
}

#menu{
    display: none;
}
#text{
    padding: 120px;
    margin: 110px;
    font-size: 30px;
}
.link1:link, .link1:visited {
    background-color: black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .link1:hover, .link1:active {
    background-color: gray;
  }
  hr{
    margin-top: 11%;
  }
  footer{
    text-align: left;
    margin-left: 10px;
    font-size: large;
  }
  .instagram{
    text-decoration: none;
    color: black;
  }
  @media only screen and (max-width: 600px){
      body{
          font-family: 'Courier New', Courier, monospace;
      }
  }