/*
    DEMO STYLE
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body {
    background-color: rgba(221, 221, 221, 0);
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron{
    color: black;
    background: rgb(63,94,251);
    background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(162,255,255,1) 100%);
}
.character1{
    margin-top: 50px;
    background: rgb(63,94,251);
    background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(0,5,5,1) 100%);
    color: black;
}
.About{
    background-color: #fff;
}
.card{
    box-shadow: 0 4px 10px 0 grey;
}
.card:hover{
    box-shadow: 0 4px 10px 0 rgb(59, 59, 59);
}
.character{
    background-color: #fff;
}
.character3{
    background-color: #8b9cf3;
}
@media screen and (max-width: 600px){
    
}